html, body {
  height: 100%;
  margin: 0;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

img, svg {
  vertical-align: middle;
}

:where(button) {
  all: unset;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

:where(a) {
  all: unset;
  cursor: pointer;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}